In [1]:
#Magic
%matplotlib

Using matplotlib backend: MacOSX

In [2]:
#Dependencies
import os
import pandas as pd
import numpy as np
import glob
from matplotlib import pyplot as plt

In [3]:
filepath = "called/**"
all_csv_files = glob.glob(os.path.join(filepath, "*.csv"), recursive = True)

grades_n_yelp_df = (pd.read_csv(f) for f in all_csv_files)
raw_restaurants_df = pd.concat(grades_n_yelp_df, ignore_index=True)


#all_restaurants_df=pd.concat(map(pd.read_csv, filepath))

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [4]:
raw_restaurants_df.head()

,Unnamed: 0,activity_date,employee_id,facility_address,facility_city,facility_id,facility_name,facility_state,facility_zip,food_type,...,program_name,program_status,rating,record_id,review_count,score,serial_number,service_code,service_description,yelp_id
0,0,11/17/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,"['Thai', 'Asian Fusion']",...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,91,DAPDUDULO,401,OWNER INITIATED ROUTINE INSPECT.,m3xOrOOqdsvE9ygMyHSpZQ
1,1,11/17/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,"['Thai', 'Asian Fusion']",...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,91,DAPDUDULO,401,OWNER INITIATED ROUTINE INSPECT.,m3xOrOOqdsvE9ygMyHSpZQ
2,2,11/06/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,"['Thai', 'Asian Fusion']",...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,81,DA6GMZWE0,1,ROUTINE INSPECTION,m3xOrOOqdsvE9ygMyHSpZQ
3,3,11/06/2015 12:00:00 AM,EE0000726,7669 BEVERLY BLVD,LOS ANGELES,FA0025994,NAKKARA ON BEVERLY,CA,90036,"['Thai', 'Asian Fusion']",...,NAKKARA ON BEVERLY,ACTIVE,3.5,PR0030608,270,81,DA6GMZWE0,1,ROUTINE INSPECTION,m3xOrOOqdsvE9ygMyHSpZQ
4,4,11/17/2015 12:00:00 AM,EE0000950,6600 E OLYMPIC BLVD STE #106,LOS ANGELES,FA0055785,YUM YUM DONUTS,CA,90022,"['Donuts', 'Coffee & Tea']",...,YUM YUM DONUTS,INACTIVE,3.5,PR0047011,24,92,DATA6A0QP,1,ROUTINE INSPECTION,x0brWIP6TsqeT80ERX_mHQ

In [5]:
# Output BIG dataframe to CSV
raw_restaurants_df.to_csv("raw_all_restaurants.csv", header=True)